body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    z-index: 10;
}
#startButton {
    padding: 20px 40px;
    font-size: 24px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#startButton:hover {
    background-color: #218838;
}
#gameArea {
    display: none;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}
#toolbox {
    width: 300px; /* Начальная ширина */
    background-color: #e0e0e0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    overflow-y: auto;
    position: relative;
    flex-shrink: 0; /* Предотвращает сжатие */
}
#resizer {
    width: 5px;
    background-color: #333;
    cursor: ew-resize;
    height: 100%;
    flex-shrink: 0;
    transition: background-color 0.2s;
}
#resizer:hover {
    background-color: #555;
}
#canvas {
    flex-grow: 1; /* Занимает оставшееся пространство */
    height: 100%;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to right, #d3d3d3 1px, transparent 1px),
                      linear-gradient(to bottom, #d3d3d3 1px, transparent 1px);
    background-size: 12.5px 12.5px;
}
.block {
    cursor: move;
    user-select: none;
    position: relative;
}
.block img {
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
}
.draggable {
    position: absolute;
    z-index: 1;
}
.preview {
    border: 4px solid #0000ff !important;
    box-sizing: border-box;
    opacity: 0.95 !important;
    z-index: 1000 !important;
    background-color: rgba(0, 0, 255, 0.1) !important;
}
#error {
    color: red;
    font-size: 14px;
    text-align: center;
}
#trash {
    width: 50px;
    height: 50px;
    background-color: #ff4d4d;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    cursor: default;
    margin-top: 20px;
    transition: background-color 0.3s;
}
#trash.dragover {
    background-color: #cc0000;
}

.version-text {
    position: fixed;
    bottom: 5px;
    left: 5px;
    margin: 0;
    font-size: 6px;
    color: #000000;
    z-index: 100;
    padding: 5px 10px;
    border-radius: 3px;
}